body {font-family: 'Roboto', sans-serif;}
a {color: #000; text-decoration: none;}
a:visited{color: #000;}

div.content {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
p.link {
  margin: 0 0 10 0;
  padding: 0 10 1 10;
  display: inline-block;
  font-weight: 700;
  border-bottom:solid 3px #6cc655;
}
p.links a {
  display: inline-block;
  width: 150px;
  padding: 5px;
  margin: 10px;
  line-height: 24px;
  text-align: center;
  border-bottom:solid 2px #6cc655;
}